nav.navbar.navbar-default {
  margin-bottom: 0;
 
}

.navbar{
  background-color: rgba(0, 0, 0, 0.247);
  box-shadow:0 0 40px red;
  color: white;

}

.text{
  color: white;
}

.text:hover{
  color: rgb(255, 0, 0);
}
