
.browse{
   background-color: rgba(0, 0, 0, 0.589);
   color: rgba(255, 2, 2, 0.603);
}


.browse:hover{
   background-color: rgba(255, 0, 0, 0.521);
   color: rgb(0, 0, 0);
   }

.frame{
   padding-right: 10px;
   border: 1px solid black;
   }


.budget{
   background-color: rgba(255, 255, 255, 0.74);
}