
.browse{
   background-color: rgba(0, 0, 0, 0.589);
   color: rgba(255, 2, 2, 0.603);
   font-size: 22px;
   letter-spacing: 2px;
}


.browse:hover{
   background-color: rgba(255, 0, 0, 0.521);
   color: rgb(0, 0, 0);
   }

.frame{
   padding-right: 10px;
   border: 1px solid black;
   }


.budget{
   background-color: rgba(255, 255, 255, 0.74);
}

.external-link{
   color: white;
   align-self: center;
   margin-top: 1%;
   font-size:35px
}
.external-link:hover{
   color: red;
}