.footer {
  min-height: 100px;
  background-color: rgba(0, 0, 0, 0.247);
  position: relative;
  box-shadow: 0 0 40px red;

}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #00000083;
}
